<!DOCTYPE html>
<html lang="en">
<head>
  <title>$(TITLE)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="/static/css/styles.css" type="text/css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<!-- TODO: figure out how to add header padding -->
<div class="container">
  <div class="row row-bordered">
    <div class="col-sm-4">
      <h2><a>$(TITLE)</a></h2>
    </div>
    <div class="col-sm-3 text-left">
      <h2><a href="print_requests_timeline.html">Requests</a></h2>
    </div>
    <div class="col-sm-5 text-right">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4 text-left">
            <label>Email</label>
          </div>
          <div class="col-sm-4 text-left">
            <label>Password</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5 text-left">
            <input name="" class="form-control" placeholder="user@domain.com" type="email">
          </div>
          <div class="col-sm-4 text-left">
            <input name="" class="form-control" placeholder="******" type="password">
            <a class="float-right" href="#">Forgot?</a>
          </div>
          <div class="col-sm-3 text-right">
            <button type="button" class="mt-auto btn btn-block btn-primary">Log in</button>
          </div>
        </div>
      </div> <!-- row.// -->
    </div>
  </div>
</div>

<div class="container">
  <div class="sidenav">
    <a href="index.html">About</a>
    <a href="register.html">Register</a>
    <a href="print_requests_timeline.html">Printing</a>
    <a href="#">Designing</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 text-justify">
      <h3>About $(TITLE)</h3>
      <div class="col-sm-12">
        <h4>$(TITLE) provides a platform for designers and fabricators to make life saving medical equipment to support healthcare professionals and individual consumers.</h4>
        <br/>
      </div>
      <h3>Who is $(TITLE) for?</h3>
      <div class="col-sm-12">
        <h4>Hospitals/Healthcare Professionals/Consumers</h4>
        <div class="col-sm-12">
          <p>Make requests for custom medical equipment.</p>
        </div>
        <h4>Fabricators</h4>
        <div class="col-sm-12">
          <p>Use your design experience and fabrication tools to design and build life-saving medical equipment.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-5 col-md-offset-1">
    <div class="card">
    <h3 class="text-center">Sign up</h3>
      <div class="row">
        <div class="col-md-6 text-center">
          <button onclick="location.href = 'register_doc.html';" type="button" class="mt-auto btn btn-block btn-primary">Doctors</button>
        </div>
        <div class="col-md-6 text-center">
          <button onclick="location.href = 'register_fab.html';" type="button" class="mt-auto btn btn-block btn-primary">Fabricators</button>
        </div>
      </div>
    </div> <!-- card.// -->
    </div> <!-- col.// -->
  </div>  <!-- row.// -->
</div> <!--container end.//-->




</body>
</html>